@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  box-sizing: border-box;
}

::selection {
  background: #1467af;
  color: white;
}

html, body {
  min-height: 100%;
}

body {
  background-image: linear-gradient(#0F4C81, #1467af);
  background-size: 100%;
  text-align: center;
  font: 18px/1.5 "Poppins", monospace;
}

h1 {
  color: white;
  letter-spacing: -0.03em;
  margin-bottom: 0;
  text-shadow: 0 0.25em 0.5em #02090f;
}

.desc {
  color: white;
  margin-top: 0;
  text-shadow: 0 0.25em 0.5em #02090f;
}

.generator {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #0F4C81;
  border-radius: 2em;
  box-shadow: 0 1em 3em -1.25em #0a3153;
  margin: 0 auto 2em;
  max-width: 50vw;
  padding: 1em 2em;
}
@media screen and (max-width: 900px) {
  .generator {
    max-width: 67vw;
  }
}
@media screen and (max-width: 700px) {
  .generator {
    max-width: 75vw;
  }
}
@media screen and (max-width: 500px) {
  .generator {
    max-width: calc(100% - 2em);
  }
}

section {
  padding: 0.5em;
}

label {
  color: #0F4C81;
  display: block;
  font-weight: bold;
  margin-bottom: 0.25em;
  text-align: left;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
  letter-spacing: 0.25px;
}

.download,
button,
input,
textarea {
  border: 1px solid #0F4C81;
  border-radius: 50em;
  height: 2em;
  font: 18px/1.5 "Poppins", monospace;
}
.download:focus,
button:focus,
input:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 4px 2px #1467af;
}

input,
textarea {
  background-color: rgba(255, 255, 255, 0.75);
  box-sizing: content-box;
  color: #333;
  text-indent: 0.5em;
}
input[type=text],
textarea[type=text] {
  text-indent: 1em;
}

input {
  display: inline-block;
  width: 100%;
}

textarea {
  border-radius: 1em;
  height: 6.5em;
  padding: 0.25em 0.75em;
  text-indent: 0;
  width: calc(100% - 1.5em);
}

button,
.download {
  background-color: #0F4C81;
  color: white;
  font-weight: bold;
  margin: 0.5em;
  padding: 0 0.75em;
}

.download {
  align-items: center;
  background-color: #0c3f6a;
  display: inline-flex;
  text-decoration: none;
}

.hide {
  display: none;
}

.footer {
  color: white;
  margin-top: 0;
  text-shadow: 0 0.25em 0.5em #02090f;
}
