// just make it pretty
@import url('https://fonts.googleapis.com/css2?family=Roboto:400,700&display=swap');

$color: #0F4C81;
@mixin font {
  font: 18px/1.5 'Roboto', monospace;
}
* {
  box-sizing: border-box;
}
::selection {
  background: lighten($color, 10%);
  color: white;
}
html, body {min-height: 100%}
body {
  background-image: linear-gradient($color, lighten($color, 10%));
  background-size: 100%;
  text-align: center;
  @include font;
}
h1 {
  color: white;
  letter-spacing: -0.03em;
  margin-bottom: 0;
  text-shadow: 0 .25em 0.5em adjust-color($color, $lightness: -25%);
}
.desc {
  color: white;
  margin-top: 0;
  text-shadow: 0 .25em 0.5em adjust-color($color, $lightness: -25%);
}
.generator {
  background-color: rgba(white, 0.8);
  border: 1px solid $color;
  border-radius: 2em; 
  box-shadow: 0 1em 3em -1.25em adjust-color($color, $lightness: -10%);
  margin: 0 auto 2em;
  max-width: 50vw;
  @media screen and (max-width: 900px) {
    max-width: 67vw;
  }
  @media screen and (max-width: 700px) {
    max-width: 75vw;
  }
  @media screen and (max-width: 500px) {
    max-width: calc(100% - 2em);
  }
  padding: 1em 2em;
}
section {
  padding: 0.5em;
}
label {
  color: $color;
  display: block;
  font-weight: bold;
  margin-bottom: 0.25em;
  text-align: left;
  text-shadow: 0 1px rgba(white, 0.5);
  letter-spacing: 0.25px;
}

.download,
button,
input,
textarea {
  border: 1px solid $color;
  border-radius: 50em;
  height: 2em;
  @include font;
  &:focus {
    outline: none;
    box-shadow: 0 0 4px 2px adjust-color($color, $lightness: 10%);
  }
}
input,
textarea {
  background-color: rgba(white, 0.75);
  box-sizing: content-box;
  color: #333;
  text-indent: 0.5em;
  &[type="text"] {
    text-indent: 1em;
  }
}
input {
  display: inline-block;
  width: 100%;
}
textarea {
  border-radius: 1em;
  height: 6.5em;
  padding: 0.25em 0.75em;
  text-indent: 0;
  width: calc(100% - 1.5em);
}
button,
.download {
  background-color: $color;
  color: white;
  font-weight: bold;
  margin: 0.5em;
  padding: 0 0.75em;
}

.download {
  align-items: center;
  background-color: darken($color, 5%);
  display: inline-flex;
  text-decoration: none;
}
.hide {
  display: none;
}